<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41322619410-s0ivmlprrqci9bg3sin6uugqel4ivqh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41322619410-s0ivmlprrqci9bg3sin6uugqel4ivqh4</string>
	<key>API_KEY</key>
	<string>AIzaSyB2_KKRvXG_VippuNx26V64HuCYZwgXqiE</string>
	<key>GCM_SENDER_ID</key>
	<string>41322619410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blemke.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>kube-214217</string>
	<key>STORAGE_BUCKET</key>
	<string>kube-214217.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41322619410:ios:0125655faeda8690</string>
	<key>DATABASE_URL</key>
	<string>https://kube-214217.firebaseio.com</string>
</dict>
</plist>